<h1 class="blocktitle"><%= @subject.name %></h1>

<table class="table">
	<tbody>
		<tr>
			<th>Name</th>
			<td><%= @subject.name %></td>
		</tr>
		<tr>
			<th>ECTS</th>
			<td><%= @subject.ects %></td>
		</tr>
		<tr>
			<th>Year</th>
			<td><%= @subject.year %></td>
		</tr>
	</tbody>
</table>