<div class="comment panel panel-default" style="padding: 10px; margin-bottom: 10px;">
	<div class="media">
		<div class="media-left media-top">
			<%= image_tag @comment.user.avatar.url(:thumb), class: 'media-object' %>
		</div>
		<div class="media-body">
			<h5 class="media-heading text-info">
				<%= @comment.user.full_name %> 
				<small class="pull-right"><%= @comment.created_at.strftime("%d.%-m.%Y. %H:%M") %></small>
			</h5>
			<p><%= @comment.content %></p>
		</div>
	</div>
</div>