<h1 class="blocktitle">Signups</h1>

<table class="table table-striped">
	<thead>
		<th>Student</th>
		<th>Subject</th>
		<th>Date</th>
	</thead>

	<tbody>
		<% @signups.each do |s| %>
			<% if s.exam.present? %>
				<tr>
					<td><%= s.user.full_name %></td>
					<td><%= s.exam.subject.name %></td>
					<td><%= s.exam.start_date.strftime("%-d.%-m.%Y. %H:%M") %></td>
					<td><%= link_to 'Evaluate', edit_admin_signup_path(s.id) %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>