<h1 class="blocktitle">Evaluate</h1>

<% if flash[:ev_notice] %>
	<div class="alert alert-success">
		<p><%= flash[:ev_notice] %></p>
	</div>
<% end %>

<% if @evaluation.errors.any? %>
<h2>Errors</h2>
<ul class="validation-errors">
	<% @evaluation.errors.full_messages.each do |msg| %>
		<li class="nav alert alert-danger"><%= msg %></li>
	<% end %>
</ul>
<% end %>

<%= render 'form' %>