<h1 class="blocktitle">News</h1>
<% @posts.each do |p| %>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h1 class="panel-title"><%= p.title %></h1>
	    <small>Posted at: <%= p.created_at.strftime("%d.%-m.%Y %H:%M") %> | Posted by: <%= p.user.full_name %></small>
	  </div>
	  <div class="panel-body">
	    <%= p.description %>
	  </div>
	</div>
<% end %>