<table class="table table-hover">
<thead>
	<tr>
		<th>Name</th>
		<th>ECTS</th>
	</tr>
</thead>
	<tbody>
		<% subjects_by_year.each do |s| %>
			<tr>
				<td><%= s.name %></td>
				<td><%= s.ects %></td>
			</tr>
		<% end %>
	</tbody>
</table>