<h1 class="blocktitle">About</h1>

<div class="about-img">
	<%= image_tag 'rails-course.jpg', class: 'img-responsive' %>
</div>

<div class="clearfix"></div>

<div class="about panel panel-default">
	<p>
		In November, 2016 <a href="http://www.academy387.com">Academy387</a> started "Ruby on Rails for Beginners" course in asssociation with <a href="http://www.klika.ba">Klika</a>. The course lasted for 7 weeks and was led by Ivan Kovač, one of Klika's employees. The idea was that the attenders learn about Ruby on Rails basics and become able to create a simple Ruby on Rails application.
	</p>
	<p>
		This application is created as a last task and final project for "Ruby on Rails for Beginners" course. We were asked to make a prototype application for student service. One of the main functionalities is to enable a student to sign up for the current exams on the year and department he/she is on. Apart from that there are certain features such as having notice about the next exam student signed up for, calendar of all exams, tracking success per subject along with the grade point average, and much more. Application also has a separate layout for users with admin role. Admin is enabled to filter all resources as well as to create new records in database. There is an extra feature added for the professors to enable them to evaluate each student based on their signups.
	</p>
	<p>
		Hope you like it,<br>
		<a href="http://github.com/amir-go">Amir Zametica</a>
	</p>
</div>