<h1 class="blocktitle">About</h1>

<div class="about-img">
	<%= image_tag 'rails-course.jpg', class: 'img-responsive' %>
</div>

<div class="clearfix"></div>

<div class="about panel panel-default">
	<p>
		In November, 2016 <a href="http://www.academy387.com">Academy387</a> in asssociation with <a href="http://www.klika.ba">Klika</a> started course "Ruby on Rails for Beginners". The course lasted for 7 weeks and was leaded by Ivan Kovač, one of Klika's employees. The idea was that attenders learn about Ruby on Rails basics and to be able to create simple Ruby on Rails application.
	</p>
	<p>
		This application is created as a last task and final project for "Ruby on Rails for Beginners" course. We were asked to make a prototype application for student service. One of the main functionalities is to enable student to sign up for current exams on year and department he/she is on. Beside that, there is features like having notice about next exam student signed up for, calendar of all exams, tracking success per subject along with grade point average and much more. Application also have separated layout for users with admin role. Admin is enable to filter all resources as well as to create new records in database. There is an extra feature added for professors to enable them to evaluate each student based on their signups. 
	</p>
	<p>
		Hope you like it,<br>
		<a href="http://github.com/amir-go">Amir Zametica</a>
	</p>
</div>