<h1>All posts <%= link_to 'New', new_post_path, class: 'btn btn-default' %></h1>
<% @posts.each do |p| %>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="post-title"><%= p.title %></h1>
	  </div>
	  <div class="panel-body">
	    <%= p.description %>
	  </div>
	</div>
<% end %>