/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* GLOBAL STYLE */

.blocktitle{
  font-size: 26px;
  border-bottom: 1px solid #DBDBDB;
  color: #6F6F6F;
  padding-bottom: 10px;
}

.header-search{
  width: 200px;
}

.tab-content{
  background-color: #FFF;
  padding: 15px;
  border: 1px solid #ddd;
  border-top: none;
}

.navbar-brand{
  padding: 5px !important;
  margin-right: 10px;
}

.navbar-brand img{
  -webkit-filter: brightness(160%);
  filter: brightness(160%);
}

body{
  background-color: #f4f3f2 !important;
}

.about-img{
  position: relative;
  max-width: 100%;
  float: left;
  margin-bottom: 20px;
}

.about-img::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 25px rgb(244, 243, 242);
  -moz-box-shadow: inset 0 0 25px rgb(244, 243, 242);
  -webkit-box-shadow: inset 0 0 25px rgb(244, 243, 242);
}

.about-img img{
  float: left;
}

.about{
  padding: 20px;
}

/* COMMENTS */

.media-object{
  height: 50px;
}

.date-order{
  width: 150px;
  height: 30px;
  margin-right: 20px;
  padding: 0px 0px 0px 15px;
}

.comment{
  margin-bottom: 10px;
  padding: 10px;
}

.reply{
  padding: 10px;
  margin: 0px 0px 10px 60px;
}

.reply-form{
  margin: 0px 0px 10px 60px;
}

/* FORMS */
.forms{
  width: 400px;
  margin: auto;
}
.field{
  margin-bottom: 10px;
}
.field input{
  width: 100%;
  height: 37px;
}
.field #user_remember_me{
  width: unset;
  height: unset;
}
.actions input{
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
}
.form-logo{
  margin: auto;
  width: 200px;
}
.form{
  background-color: #FFF;
  padding: 15px;
  box-shadow: 0px 0px 10px 5px #c3c3c3;
  -moz-box-shadow: 0px 0px 10px 5px #c3c3c3;
  -webkit-box-shadow: 0px 0px 10px 5px #c3c3c3;
}
.form-login{
  margin-top: 40%;
}
.form-password{
  margin-top: 60%;
}
.form-register{
  margin-top: 30%;
  width: 800px;
  margin-left: -50%;
}
.form-edit-register{
  margin-top: 20%;
}

/* FOOTER */

.footer{
  background-color: #222;
  color: #c2c2c2;
  height: 100px;
  padding-top: 35px;
  border-top: #337ab7 5px solid;
}

.footer a{
  margin-right: 10px;
  font-size: 1.1em;
}

.copyright{
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #c2c2c2;
  background-color: #2C2C2C;
}

/* FIXED FOOTER */

* {
  margin: 0;
}

body, html{
  height: 100%;
}

.push-footer{
  height: 140px;
}

.wrapper{
  min-height: 100%; 
  margin: 70px auto -140px;
}