<h1 class="blocktitle">Dashboard</h1>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <i class="glyphicon glyphicon-plus"></i>
    </a>
  </div>
  ...
</div>